.view-control {
  position: absolute;
  top: 200px;
  right: 16px;
}

.compass-outer-ring-background {
  box-sizing: content-box !important;
}

.compass-gyro-background {
  box-sizing: content-box !important;
}

.navigation-controls {
  display: none;
}
